@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qg8jx');
  src:  url('fonts/icomoon.eot?qg8jx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qg8jx') format('truetype'),
    url('fonts/icomoon.woff?qg8jx') format('woff'),
    url('fonts/icomoon.svg?qg8jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn_drawer:before {
  content: "\e900";
  color: #fff;
}
.icon-caddie:before {
  content: "\e901";
  color: #d2d470;
}
.icon-drag-compare .path1:before {
  content: "\e902";
  color: rgb(1, 1, 2);
}
.icon-drag-compare .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(223, 225, 231);
}
.icon-drag-compare .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(223, 225, 231);
}
.icon-drag-compare .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(223, 225, 231);
}
.icon-drag-strip:before {
  content: "\e906";
  color: #6e7380;
}
.icon-edit_tags:before {
  content: "\e907";
  color: #afb3bd;
}
.icon-edit_user:before {
  content: "\e908";
  color: #afb3bd;
}
.icon-edit_video:before {
  content: "\e909";
  color: #afb3bd;
}
.icon-edit_visual:before {
  content: "\e90a";
  color: #afb3bd;
}
.icon-eraser-solid:before {
  content: "\e90b";
}
.icon-featuredfull:before {
  content: "\e90c";
  color: #d2d470;
}
.icon-featuredleft_thick:before {
  content: "\e90d";
  color: #d2d470;
}
.icon-featuredleft:before {
  content: "\e90e";
  color: #d2d470;
}
.icon-Fichier-1:before {
  content: "\e90f";
  color: #fff;
}
.icon-Fichier-2:before {
  content: "\e910";
  color: #fff;
}
.icon-grip .path1:before {
  content: "\e911";
  color: rgb(15, 15, 15);
}
.icon-grip .path2:before {
  content: "\e912";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path3:before {
  content: "\e913";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path4:before {
  content: "\e914";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path5:before {
  content: "\e915";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path6:before {
  content: "\e916";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path7:before {
  content: "\e917";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path8:before {
  content: "\e918";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path9:before {
  content: "\e919";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path10:before {
  content: "\e91a";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path11:before {
  content: "\e91b";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path12:before {
  content: "\e91c";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path13:before {
  content: "\e91d";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path14:before {
  content: "\e91e";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path15:before {
  content: "\e91f";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path16:before {
  content: "\e920";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-grip .path17:before {
  content: "\e921";
  margin-left: -0.216796875em;
  color: rgb(110, 115, 127);
}
.icon-linked:before {
  content: "\e922";
  color: #d2d470;
}
.icon-linkedassets:before {
  content: "\e923";
  color: #d2d470;
}
.icon-list_archived:before {
  content: "\e924";
  color: #afb3bd;
}
.icon-list_lightbox:before {
  content: "\e925";
  color: #afb3bd;
}
.icon-list_onhold:before {
  content: "\e926";
  color: #afb3bd;
}
.icon-list_retouch:before {
  content: "\e927";
  color: #afb3bd;
}
.icon-list_video:before {
  content: "\e928";
  color: #fff;
}
.icon-list_visuals:before {
  content: "\e929";
  color: #afb3bd;
}
.icon-logohbt:before {
  content: "\e92a";
  color: #fff;
}
.icon-logolightbox:before {
  content: "\e92b";
  color: #fff;
}
.icon-more:before {
  content: "\e92c";
}
.icon-mysettings:before {
  content: "\e92d";
  color: #afb3bd;
}
.icon-notetool-button-close:before {
  content: "\e92e";
  color: #fff;
}
.icon-notetool-button-open:before {
  content: "\e92f";
  color: #fff;
}
.icon-notetools-100percent .path1:before {
  content: "\e930";
  color: rgb(57, 57, 57);
}
.icon-notetools-100percent .path2:before {
  content: "\e931";
  margin-left: -1.17578125em;
  color: rgb(223, 225, 231);
}
.icon-notetools-100percent .path3:before {
  content: "\e932";
  margin-left: -1.17578125em;
  color: rgb(223, 225, 231);
}
.icon-notetools-100percent .path4:before {
  content: "\e933";
  margin-left: -1.17578125em;
  color: rgb(223, 225, 231);
}
.icon-notetools-100percent .path5:before {
  content: "\e934";
  margin-left: -1.17578125em;
  color: rgb(223, 225, 231);
}
.icon-notetools-clipbtn:before {
  content: "\e935";
  color: #999;
}
.icon-notetools-clipdelete:before {
  content: "\e936";
  color: #808080;
}
.icon-notetools-clipdwnld:before {
  content: "\e937";
  color: #808080;
}
.icon-notetools-clipfullscrn:before {
  content: "\e938";
  color: #808080;
}
.icon-notetools-clipover:before {
  content: "\e939";
  color: #fff;
}
.icon-notetools-eraser .path1:before {
  content: "\e93a";
  color: rgb(57, 57, 57);
}
.icon-notetools-eraser .path2:before {
  content: "\e93b";
  margin-left: -0.3662109375em;
  color: rgb(191, 106, 118);
}
.icon-notetools-eraser .path3:before {
  content: "\e93c";
  margin-left: -0.3662109375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-eraser .path4:before {
  content: "\e93d";
  margin-left: -0.3662109375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-eraser .path5:before {
  content: "\e93e";
  margin-left: -0.3662109375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-eraser .path6:before {
  content: "\e93f";
  margin-left: -0.3662109375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-hand:before {
  content: "\e940";
  color: #dfe1e7;
}
.icon-notetools-magnifier:before {
  content: "\e941";
  color: #dfe1e7;
}
.icon-notetools-magnifier1:before {
  content: "\e942";
  color: #dfe1e7;
}
.icon-notetools-marker .path1:before {
  content: "\e943";
  color: rgb(57, 57, 57);
}
.icon-notetools-marker .path2:before {
  content: "\e944";
  margin-left: -0.4931640625em;
  color: rgb(223, 225, 231);
}
.icon-notetools-note .path1:before {
  content: "\e945";
  color: rgb(57, 57, 57);
}
.icon-notetools-note .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(223, 225, 231);
}
.icon-notetools-note .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(223, 225, 231);
}
.icon-notetools-note .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(223, 225, 231);
}
.icon-notetools-paperclip:before {
  content: "\e949";
  color: #dfe1e7;
}
.icon-notetools-pen .path1:before {
  content: "\e94a";
  color: rgb(57, 57, 57);
}
.icon-notetools-pen .path2:before {
  content: "\e94b";
  margin-left: -0.427734375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-redo:before {
  content: "\e94c";
  color: #dfe1e7;
}
.icon-notetools-reset:before {
  content: "\e94d";
  color: #dfe1e7;
}
.icon-notetools-selectool .path1:before {
  content: "\e94e";
  color: rgb(57, 57, 57);
}
.icon-notetools-selectool .path2:before {
  content: "\e94f";
  margin-left: -0.6630859375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-selectool .path3:before {
  content: "\e950";
  margin-left: -0.6630859375em;
  color: rgb(223, 225, 231);
}
.icon-notetools-undo:before {
  content: "\e951";
  color: #dfe1e7;
}
.icon-picto_guideline:before {
  content: "\e952";
  color: #d2d471;
}
.icon-tag_video:before {
  content: "\e953";
  color: #d2d470;
}
.icon-tagfull:before {
  content: "\e954";
  color: #d2d470;
}
.icon-tagleft:before {
  content: "\e955";
  color: #d2d470;
}
.icon-variant:before {
  content: "\e956";
  color: #dadc70;
}
.icon-variants_hide:before {
  content: "\e957";
  color: #d1d1d1;
}
.icon-variants_show:before {
  content: "\e958";
  color: #d1d1d1;
}
.icon-variants-hide:before {
  content: "\e959";
}
.icon-variants-show:before {
  content: "\e95a";
}
