@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tvqyho');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tvqyho#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tvqyho') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tvqyho') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tvqyho##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addressbook1_286b0_041 {
  &:before {
    content: $icon-addressbook1_286b0_041;     
    color: #afb3bd;
  }
}
.icon-admin_edit-companies {
  &:before {
    content: $icon-admin_edit-companies;     
    color: #afb3bd;
  }
}
.icon-admin_history {
  &:before {
    content: $icon-admin_history;     
    color: #afb3bd;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;     
    color: #afb3bd;
  }
}
.icon-arrow-right_1 {
  &:before {
    content: $icon-arrow-right_1;     
    color: #afb3bd;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;     
    color: #afb3bd;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;     
    color: #afb3bd;
  }
}
.icon-ask-for-similar1_175b0_297 {
  &:before {
    content: $icon-ask-for-similar1_175b0_297;     
    color: #afb3bd;
  }
}
.icon-backtostart {
  &:before {
    content: $icon-backtostart;     
    color: #afb3bd;
  }
}
.icon-before-after-slider {
  &:before {
    content: $icon-before-after-slider;     
    color: #afb3bd;
  }
}
.icon-bulkimport1_303b0_152 {
  &:before {
    content: $icon-bulkimport1_303b0_152;     
    color: #afb3bd;
  }
}
.icon-cal_absence2_5b0_297 {
  &:before {
    content: $icon-cal_absence2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_absenceafternoon2_5b0_297 {
  &:before {
    content: $icon-cal_absenceafternoon2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_absencemorning2_5b0_297 {
  &:before {
    content: $icon-cal_absencemorning2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_absok-afternoon2_5b0_297 {
  &:before {
    content: $icon-cal_absok-afternoon2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_absok-morning2_5b0_297 {
  &:before {
    content: $icon-cal_absok-morning2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_circle2_5b0_297 {
  &:before {
    content: $icon-cal_circle2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_disk-full2_5b0_297 {
  &:before {
    content: $icon-cal_disk-full2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_disk-halfdwn2_5b0_297 {
  &:before {
    content: $icon-cal_disk-halfdwn2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_disk-halfup2_5b0_297 {
  &:before {
    content: $icon-cal_disk-halfup2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_parttime-afternoon2_5b0_297 {
  &:before {
    content: $icon-cal_parttime-afternoon2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cal_parttime-morning2_5b0_297 {
  &:before {
    content: $icon-cal_parttime-morning2_5b0_297;     
    color: #afb3bd;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;     
    color: #afb3bd;
  }
}
.icon-close {
  &:before {
    content: $icon-close;     
    color: #afb3bd;
  }
}
.icon-comment-bubble {
  &:before {
    content: $icon-comment-bubble;     
    color: #afb3bd;
  }
}
.icon-cross-small {
  &:before {
    content: $icon-cross-small;     
    color: #afb3bd;
  }
}
.icon-docs_guideline1_422b0_184 {
  &:before {
    content: $icon-docs_guideline1_422b0_184;     
    color: #afb3bd;
  }
}
.icon-docs_masterline1_422b0_184 {
  &:before {
    content: $icon-docs_masterline1_422b0_184;     
    color: #afb3bd;
  }
}
.icon-download-squarefilled {
  &:before {
    content: $icon-download-squarefilled;     
    color: #afb3bd;
  }
}
.icon-edit_tags1_430b0_177 {
  &:before {
    content: $icon-edit_tags1_430b0_177;     
    color: #afb3bd;
  }
}
.icon-edit_user1_224b0_208 {
  &:before {
    content: $icon-edit_user1_224b0_208;     
    color: #afb3bd;
  }
}
.icon-edit_video1_224b0_208 {
  &:before {
    content: $icon-edit_video1_224b0_208;     
    color: #afb3bd;
  }
}
.icon-edit_visual1_224b0_208 {
  &:before {
    content: $icon-edit_visual1_224b0_208;     
    color: #afb3bd;
  }
}
.icon-edit-squarefilled {
  &:before {
    content: $icon-edit-squarefilled;     
    color: #afb3bd;
  }
}
.icon-formats-small {
  &:before {
    content: $icon-formats-small;     
    color: #afb3bd;
  }
}
.icon-formats {
  &:before {
    content: $icon-formats;     
    color: #afb3bd;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward;     
    color: #afb3bd;
  }
}
.icon-half-star1_276b0_157 {
  &:before {
    content: $icon-half-star1_276b0_157;     
    color: #afb3bd;
  }
}
.icon-handle {
  &:before {
    content: $icon-handle;     
    color: #afb3bd;
  }
}
.icon-help {
  &:before {
    content: $icon-help;     
    color: #afb3bd;
  }
}
.icon-job_absence-ok1_21b0_099 {
  &:before {
    content: $icon-job_absence-ok1_21b0_099;     
    color: #afb3bd;
  }
}
.icon-job_absence1_21b0_099 {
  &:before {
    content: $icon-job_absence1_21b0_099;     
    color: #afb3bd;
  }
}
.icon-job_addcomment1_295b0_116 {
  &:before {
    content: $icon-job_addcomment1_295b0_116;     
    color: #afb3bd;
  }
}
.icon-job_addplus1_551b0_251 {
  &:before {
    content: $icon-job_addplus1_551b0_251;     
    color: #afb3bd;
  }
}
.icon-job_bankholidayb0_0344 {
  &:before {
    content: $icon-job_bankholidayb0_0344;     
    color: #afb3bd;
  }
}
.icon-job_btnabsence1_312 {
  &:before {
    content: $icon-job_btnabsence1_312;     
    color: #afb3bd;
  }
}
.icon-job_btnbankholiday1_312 {
  &:before {
    content: $icon-job_btnbankholiday1_312;     
    color: #afb3bd;
  }
}
.icon-job_btnholidays1_312 {
  &:before {
    content: $icon-job_btnholidays1_312;     
    color: #afb3bd;
  }
}
.icon-job_btnsick1_312 {
  &:before {
    content: $icon-job_btnsick1_312;     
    color: #afb3bd;
  }
}
.icon-job_editb0_071 {
  &:before {
    content: $icon-job_editb0_071;     
    color: #afb3bd;
  }
}
.icon-job_holidays1_183b0_142 {
  &:before {
    content: $icon-job_holidays1_183b0_142;     
    color: #afb3bd;
  }
}
.icon-job_home1_120b0_2 {
  &:before {
    content: $icon-job_home1_120b0_2;     
    color: #afb3bd;
  }
}
.icon-job_part-time1_166b0_091 {
  &:before {
    content: $icon-job_part-time1_166b0_091;     
    color: #afb3bd;
  }
}
.icon-job_sick1_21b0_099 {
  &:before {
    content: $icon-job_sick1_21b0_099;     
    color: #afb3bd;
  }
}
.icon-job_workb0_714 {
  &:before {
    content: $icon-job_workb0_714;     
    color: #afb3bd;
  }
}
.icon-linked-circled {
  &:before {
    content: $icon-linked-circled;     
    color: #afb3bd;
  }
}
.icon-linkedassets1_123b0_29 {
  &:before {
    content: $icon-linkedassets1_123b0_29;     
    color: #afb3bd;
  }
}
.icon-list_archivedb0_186 {
  &:before {
    content: $icon-list_archivedb0_186;     
    color: #afb3bd;
  }
}
.icon-list_lightbox {
  &:before {
    content: $icon-list_lightbox;     
    color: #afb3bd;
  }
}
.icon-list_onhold1_23b0_088 {
  &:before {
    content: $icon-list_onhold1_23b0_088;     
    color: #afb3bd;
  }
}
.icon-list_retouch1_304b0_214 {
  &:before {
    content: $icon-list_retouch1_304b0_214;     
    color: #afb3bd;
  }
}
.icon-list_videob0_196 {
  &:before {
    content: $icon-list_videob0_196;     
    color: #afb3bd;
  }
}
.icon-list_visuals1_163b0_098 {
  &:before {
    content: $icon-list_visuals1_163b0_098;     
    color: #afb3bd;
  }
}
.icon-list-selections1_20b1_846 {
  &:before {
    content: $icon-list-selections1_20b1_846;     
    color: #afb3bd;
  }
}
.icon-logohbt3_28 {
  &:before {
    content: $icon-logohbt3_28;     
    color: #afb3bd;
  }
}
.icon-logolightbox1_827b0_344 {
  &:before {
    content: $icon-logolightbox1_827b0_344;     
    color: #afb3bd;
  }
}
.icon-logoutb0_17 {
  &:before {
    content: $icon-logoutb0_17;     
    color: #afb3bd;
  }
}
.icon-menuburger-deploy {
  &:before {
    content: $icon-menuburger-deploy;     
    color: #afb3bd;
  }
}
.icon-menuburger-normal {
  &:before {
    content: $icon-menuburger-normal;     
    color: #afb3bd;
  }
}
.icon-mysettings1_372b0_187 {
  &:before {
    content: $icon-mysettings1_372b0_187;     
    color: #afb3bd;
  }
}
.icon-no-longer-available {
  &:before {
    content: $icon-no-longer-available;     
    color: #afb3bd;
  }
}
.icon-notetools-100percent {
  &:before {
    content: $icon-notetools-100percent;     
    color: #afb3bd;
  }
}
.icon-notetools-clipbtn {
  &:before {
    content: $icon-notetools-clipbtn;     
    color: #afb3bd;
  }
}
.icon-notetools-clipdelete {
  &:before {
    content: $icon-notetools-clipdelete;     
    color: #afb3bd;
  }
}
.icon-notetools-clipdwnld {
  &:before {
    content: $icon-notetools-clipdwnld;     
    color: #afb3bd;
  }
}
.icon-notetools-clipfullscrn {
  &:before {
    content: $icon-notetools-clipfullscrn;     
    color: #afb3bd;
  }
}
.icon-notetools-clipover {
  &:before {
    content: $icon-notetools-clipover;     
    color: #afb3bd;
  }
}
.icon-notetools-eraser {
  &:before {
    content: $icon-notetools-eraser;     
    color: #afb3bd;
  }
}
.icon-notetools-hand {
  &:before {
    content: $icon-notetools-hand;     
    color: #afb3bd;
  }
}
.icon-notetools-magnifierminus {
  &:before {
    content: $icon-notetools-magnifierminus;     
    color: #afb3bd;
  }
}
.icon-notetools-magnifierplus {
  &:before {
    content: $icon-notetools-magnifierplus;     
    color: #afb3bd;
  }
}
.icon-notetools-marker {
  &:before {
    content: $icon-notetools-marker;     
    color: #afb3bd;
  }
}
.icon-notetools-note {
  &:before {
    content: $icon-notetools-note;     
    color: #afb3bd;
  }
}
.icon-notetools-pen {
  &:before {
    content: $icon-notetools-pen;     
    color: #afb3bd;
  }
}
.icon-notetools-redo {
  &:before {
    content: $icon-notetools-redo;     
    color: #afb3bd;
  }
}
.icon-notetools-reset {
  &:before {
    content: $icon-notetools-reset;     
    color: #afb3bd;
  }
}
.icon-notetools-selectool {
  &:before {
    content: $icon-notetools-selectool;     
    color: #afb3bd;
  }
}
.icon-notetools-undo {
  &:before {
    content: $icon-notetools-undo;     
    color: #afb3bd;
  }
}
.icon-notification1_286b0_041 {
  &:before {
    content: $icon-notification1_286b0_041;     
    color: #afb3bd;
  }
}
.icon-play {
  &:before {
    content: $icon-play;     
    color: #afb3bd;
  }
}
.icon-plus-slider {
  &:before {
    content: $icon-plus-slider;     
    color: #afb3bd;
  }
}
.icon-search-bigfield {
  &:before {
    content: $icon-search-bigfield;     
    color: #afb3bd;
  }
}
.icon-startag-guideline1_686b0_833 {
  &:before {
    content: $icon-startag-guideline1_686b0_833;     
    color: #afb3bd;
  }
}
.icon-startag-left1_686b0_833 {
  &:before {
    content: $icon-startag-left1_686b0_833;     
    color: #afb3bd;
  }
}
.icon-stop {
  &:before {
    content: $icon-stop;     
    color: #afb3bd;
  }
}
.icon-tag_digital1_333b-0_857 {
  &:before {
    content: $icon-tag_digital1_333b-0_857;     
    color: #afb3bd;
  }
}
.icon-tag-left1_333b-0_857 {
  &:before {
    content: $icon-tag-left1_333b-0_857;     
    color: #afb3bd;
  }
}
.icon-tag-social1_333b-0_857 {
  &:before {
    content: $icon-tag-social1_333b-0_857;     
    color: #afb3bd;
  }
}
.icon-tag-video1_333b-0_857 {
  &:before {
    content: $icon-tag-video1_333b-0_857;     
    color: #afb3bd;
  }
}
.icon-timelength-smallb0_036 {
  &:before {
    content: $icon-timelength-smallb0_036;     
    color: #afb3bd;
  }
}
.icon-timelength {
  &:before {
    content: $icon-timelength;     
    color: #afb3bd;
  }
}
.icon-timepassed {
  &:before {
    content: $icon-timepassed;     
    color: #afb3bd;
  }
}
.icon-transitioncurve {
  &:before {
    content: $icon-transitioncurve;     
    color: #afb3bd;
  }
}
.icon-variant1_423b0_235 {
  &:before {
    content: $icon-variant1_423b0_235;     
    color: #afb3bd;
  }
}
.icon-variants_hideb0_047 {
  &:before {
    content: $icon-variants_hideb0_047;     
    color: #afb3bd;
  }
}
.icon-variants_show {
  &:before {
    content: $icon-variants_show;     
    color: #afb3bd;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;     
    color: #afb3bd;
  }
}
.icon-zoom-wysiwyg {
  &:before {
    content: $icon-zoom-wysiwyg;     
    color: #afb3bd;
  }
}

