$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-addressbook1_286b0_041: "\e900";
$icon-admin_edit-companies: "\e901";
$icon-admin_history: "\e902";
$icon-arrow-down: "\e903";
$icon-arrow-right_1: "\e904";
$icon-arrow-right: "\e905";
$icon-arrow-up: "\e906";
$icon-ask-for-similar1_175b0_297: "\e907";
$icon-backtostart: "\e908";
$icon-before-after-slider: "\e909";
$icon-bulkimport1_303b0_152: "\e90a";
$icon-cal_absence2_5b0_297: "\e90b";
$icon-cal_absenceafternoon2_5b0_297: "\e90c";
$icon-cal_absencemorning2_5b0_297: "\e90d";
$icon-cal_absok-afternoon2_5b0_297: "\e90e";
$icon-cal_absok-morning2_5b0_297: "\e90f";
$icon-cal_circle2_5b0_297: "\e910";
$icon-cal_disk-full2_5b0_297: "\e911";
$icon-cal_disk-halfdwn2_5b0_297: "\e912";
$icon-cal_disk-halfup2_5b0_297: "\e913";
$icon-cal_parttime-afternoon2_5b0_297: "\e914";
$icon-cal_parttime-morning2_5b0_297: "\e915";
$icon-cart: "\e916";
$icon-close: "\e917";
$icon-comment-bubble: "\e918";
$icon-cross-small: "\e919";
$icon-docs_guideline1_422b0_184: "\e91a";
$icon-docs_masterline1_422b0_184: "\e91b";
$icon-download-squarefilled: "\e91c";
$icon-edit_tags1_430b0_177: "\e91d";
$icon-edit_user1_224b0_208: "\e91e";
$icon-edit_video1_224b0_208: "\e91f";
$icon-edit_visual1_224b0_208: "\e920";
$icon-edit-squarefilled: "\e921";
$icon-formats-small: "\e922";
$icon-formats: "\e923";
$icon-forward: "\e924";
$icon-half-star1_276b0_157: "\e925";
$icon-handle: "\e926";
$icon-help: "\e927";
$icon-job_absence-ok1_21b0_099: "\e928";
$icon-job_absence1_21b0_099: "\e929";
$icon-job_addcomment1_295b0_116: "\e92a";
$icon-job_addplus1_551b0_251: "\e92b";
$icon-job_bankholidayb0_0344: "\e92c";
$icon-job_btnabsence1_312: "\e92d";
$icon-job_btnbankholiday1_312: "\e92e";
$icon-job_btnholidays1_312: "\e92f";
$icon-job_btnsick1_312: "\e930";
$icon-job_editb0_071: "\e931";
$icon-job_holidays1_183b0_142: "\e932";
$icon-job_home1_120b0_2: "\e933";
$icon-job_part-time1_166b0_091: "\e934";
$icon-job_sick1_21b0_099: "\e935";
$icon-job_workb0_714: "\e936";
$icon-linked-circled: "\e937";
$icon-linkedassets1_123b0_29: "\e938";
$icon-list_archivedb0_186: "\e939";
$icon-list_lightbox: "\e93a";
$icon-list_onhold1_23b0_088: "\e93b";
$icon-list_retouch1_304b0_214: "\e93c";
$icon-list_videob0_196: "\e93d";
$icon-list_visuals1_163b0_098: "\e93e";
$icon-list-selections1_20b1_846: "\e93f";
$icon-logohbt3_28: "\e940";
$icon-logolightbox1_827b0_344: "\e941";
$icon-logoutb0_17: "\e942";
$icon-menuburger-deploy: "\e943";
$icon-menuburger-normal: "\e944";
$icon-mysettings1_372b0_187: "\e945";
$icon-no-longer-available: "\e946";
$icon-notetools-100percent: "\e947";
$icon-notetools-clipbtn: "\e948";
$icon-notetools-clipdelete: "\e949";
$icon-notetools-clipdwnld: "\e94a";
$icon-notetools-clipfullscrn: "\e94b";
$icon-notetools-clipover: "\e94c";
$icon-notetools-eraser: "\e94d";
$icon-notetools-hand: "\e94e";
$icon-notetools-magnifierminus: "\e94f";
$icon-notetools-magnifierplus: "\e950";
$icon-notetools-marker: "\e951";
$icon-notetools-note: "\e952";
$icon-notetools-pen: "\e953";
$icon-notetools-redo: "\e954";
$icon-notetools-reset: "\e955";
$icon-notetools-selectool: "\e956";
$icon-notetools-undo: "\e957";
$icon-notification1_286b0_041: "\e958";
$icon-play: "\e959";
$icon-plus-slider: "\e95a";
$icon-search-bigfield: "\e95b";
$icon-startag-guideline1_686b0_833: "\e95c";
$icon-startag-left1_686b0_833: "\e95d";
$icon-stop: "\e95e";
$icon-tag_digital1_333b-0_857: "\e95f";
$icon-tag-left1_333b-0_857: "\e960";
$icon-tag-social1_333b-0_857: "\e961";
$icon-tag-video1_333b-0_857: "\e962";
$icon-timelength-smallb0_036: "\e963";
$icon-timelength: "\e964";
$icon-timepassed: "\e965";
$icon-transitioncurve: "\e966";
$icon-variant1_423b0_235: "\e967";
$icon-variants_hideb0_047: "\e968";
$icon-variants_show: "\e969";
$icon-warning: "\e96a";
$icon-zoom-wysiwyg: "\e96b";

